body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #faf8ef;
    font-family: Arial, sans-serif;
}

.game-container {
    padding: 10px;
    background-color: #bbada0;
    border-radius: 5px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}

#overlay {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    background-color: wheat;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 26px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #cdc1b4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    color: #776E65;
    border-radius: 5px;
}

.button2 {
    border: none;
    background-color: wheat
}

.button2:hover {
    cursor: pointer;
}

.gameOverMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    
}