body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #faf8ef;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.board-size {
    position: fixed;
    top: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 450px;
}

.size {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    font-size: 24px;
    transition: 0.15s linear;
}

.size:hover {
    background-color: orange;
    cursor: pointer;
}

.game-container {
    padding: 10px;
    background-color: #bbada0;
    border-radius: 5px;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
}

.grid4 {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}

.grid5 {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(5, 80px);
    gap: 10px;
}

.grid6 {
    display: grid;
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: repeat(6, 60px);
    gap: 10px;
}

#overlay {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    background-color: wheat;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 26px;
}

.cell {
    width: 100%;
    height: 100%;
    background-color: #cdc1b4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    color: #776E65;
    border-radius: 5px;
}

.grid3 .cell { font-size: 40px; }
.grid4 .cell { font-size: 34px; }
.grid5 .cell { font-size: 28px; }
.grid6 .cell { font-size: 24px; }

.button2 {
    border: none;
    background-color: wheat
}

.button2:hover {
    cursor: pointer;
}

.gameOverMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    
}