body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #faf8ef;
    font-family: Arial, sans-serif;
}

.game-container {
    padding: 10px;
    background-color: #bbada0;
    border-radius: 5px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #cdc1b4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #776e65;
    border-radius: 5px;
}

.tile-2 {

}

.tile-4 {

}

.tile-8 {

}

.tile-16 {

    
}
